<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428058766391-krd67hsnjjgdb3ujaoihjqqh39mo90g6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428058766391-krd67hsnjjgdb3ujaoihjqqh39mo90g6</string>
	<key>API_KEY</key>
	<string>AIzaSyBm0UUIqKQ_dJRkhngBoiBoTt2r7zN_b44</string>
	<key>GCM_SENDER_ID</key>
	<string>428058766391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>ypench-travel-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ypench-travel-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428058766391:ios:a5d458edda3604f3d8a3b2</string>
</dict>
</plist>